---
layout: default
permalink: /diversity
---

<div class="container">

  <div class="card-deck">
    <div class="card-columns">

    {% assign sorted_pages = (site.diversity | sort: 'family') %}
    {% for t in sorted_pages %}

    <div class="card">
      <img class="card-img-top" src="{{t.card_image}}" alt="Image for {{t.title}}">
      <div class="card-body">
        <h5 class="card-title">{{t.title}}</h5>
        <p class="card-text">Written by {{ t.authors }}</p>
        <a href="{{t.url}}.html" class="btn btn-primary">Go</a>
        <p class="card-text"><small class="text-muted">{% if t.modified %}Last updated {{ t.modified }}{% endif %}</small></p>
      </div>
    </div>
    {% endfor %}
    </div>
    </div>

  <hr>
</div>



