---
layout: default
permalink: /education
---

<div class="container">

  {% assign loopindex = 0 %}

  {% for t in site.modules %}

  {% assign loopindex = loopindex | plus: 1 %}
  {% assign modulo = loopindex | modulo: 3 %}

  {% if modulo == 1 %}
  <div class="card-deck">
  {% endif %}

    <div class="card" style="width: 20rem;">

      {% if t.card_image %}
      <img class="card-img-top" src="/assets/images/{{t.card_image}}" alt="Image for {{t.title}}">
      {% endif %} 

      <div class="card-body">
        <h4 class="card-title">{{t.title}}</h4>
        <p class="card-text">
        {{ t.summary }} 
        </p>
        <a href="{{t.url}}.html" class="btn btn-primary">Go</a>
      </div>

      <ul class="list-group list-group-flush">
        {% if t.tags %}
        <li class="list-group-item">{% for a in t.tags %} 
          <span class="badge badge-info" role="alert">{{a | replace: ',', '' | replace: " ", "+" }}</span>{% endfor %}
        </li>
        {% endif %}

        {% if t.estimated_time %}
          <li class="list-group-item">Estimated time: {{ t.estimated_time }}</li>
        {% endif %}

      </ul>

      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>

    {% if modulo == 0 %}
      </div>
      <br>
    {% endif %}
  {% endfor %}

</div>
