---
layout: default
permalink: /outreach
---

<div class="card-deck">

  {% for t in site.modules %}
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="/assets/images/{{t.card_image}}" alt="Image for {{t.title}}">
    <div class="card-body">
      <h4 class="card-title">{{t.title}}</h4>
      <p class="card-text">
        {{ t.summary }} 
      </p>
      <a href="{{t.url}}.html" class="btn btn-primary">Go</a>
    </div>

    <ul class="list-group list-group-flush">
      {% if t.tags %}
      <li class="list-group-item">{% for a in t.tags %} 
        <span class="badge badge-info" role="alert">{{a | replace: ',', '' | replace: " ", "+" }}</span>{% endfor %}
      </li>
      {% endif %}

      {% if t.estimated_time %}
      <li class="list-group-item">Estimated time: {{ t.estimated_time }}</li>
      {% endif %}

      <li class="list-group-item">Vestibulum at eros</li>
    </ul>

    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
  {% endfor %}

  <hr>
</div>



